.Auth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}
.HorizontalCenter{
    text-align: center;
}
.Auth button{
    margin:  0px 50px;
}
.Auth button:hover{
    color: #1976D2;
}
